.noti {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 20px;
    background-color: hsl(210, 60%, 98%);
    border-radius: 10px;
}

img{
    width: 45px;
    height: 45px;
}

.message {
    border: 1px solid hsl(205, 33%, 90%);
    padding: 20px;
    border-radius: 4px;
    color: hsl(219, 12%, 42%);
}

.message:hover {
    background-color: hsl(205, 33%, 90%);
}

.name {
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    padding-left: 0%;
    padding-right: 7px;
    color: hsl(224, 21%, 14%);
    font-size: 1rem;
}

.name:hover {
    color: hsl(219, 85%, 26%);
}

.content-noti {
    color: hsl(219, 12%, 42%);
}

.date {
    color: hsl(219, 14%, 63%);
}

.object-noti {
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    color: hsl(219, 12%, 42%);
}

.object-noti:hover {
    color: hsl(219, 85%, 26%);
}